// BREAKPOINTS

$bp-xxxs: 359px;
$bp-xxs: 413px;
$bp-xs: 479px;
$bp-sm: 575px;

$bp-rg: 767px;
$bp-md: 833px;

$bp-sb: 991px;
$bp-lg: 1023px;
$bp-xl: 1139px;
$bp-xxl: 1259px;

$bp-gsb: 1439px;
$bp-glg: 1679px;
$bp-gxl: 1919px;
$bp-gxxl: 2559px;