h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
    font-weight: 400;
    line-height: 125%;
}

.h0, .h1, .h2, .h3, .h4, .h5 {
	font-family: 'Fira Code';
}

p{
    font-weight: 400;
}

// TITLE

.h1 {

}

.h2 {
}

.h3 {

}

.h4 {
    
}

.h5 {
    
}

// TEXT

.text{
    font-size: 16px;
    line-height: 140%;

    &-xl{
        font-size: 20px;
		line-height: 140%;
	}

    &-lg{
        font-size: 18px;
        line-height: 140%;
    }

    &-md{
        font-size: 14px;
        line-height: 140%;
    }

    &-sm{
        font-size: 12px;
        line-height: 140%;
    }

    //STYLE

    &-border{
        -webkit-text-stroke: 1px #8C8C8C;
    }

    //WEIGHT

    &-100{
        font-weight: 100;
    }

    &-200{
        font-weight: 200;
    }

    &-300{
        font-weight: 300;
    }

    &-400{
        font-weight: 400;
    }
    
    &-500{
        font-weight: 500;
    }

    &-600{
        font-weight: 600;
    }

    &-700{
        font-weight: 700;
    }

    &-800{
        font-weight: 800;
    }

    &-900{
        font-weight: 900;
    }

    //FAMILY

    &-firacode{
        font-family: 'Fira Code';
    }

}
